.vs
.vs/config/applicationhost.config
.vs/QDevProject/v15/.suo
.vs/QDevProject/v15/Server/sqlite3/storage.ide
.vs/QDevProject/v15/Server/sqlite3/storage.ide-wal
.vs/QDevProject/v15/Server/sqlite3/storage.ide-shm
